<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ED Data Inventory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link rel="stylesheet" href="~/lib/custom/css/jquery-ui-1.10.3.custom.css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <!--<script type="text/javascript" src="~/js/federated-analytics.all.min.js"></script>-->
</head>
<body>
    <div class="diWrap">
        <div class="diBanner">
            <div class="bnrWrap">
                <div class="beta">Beta</div><h1 title="ED Data Inventory">&nbsp;</h1>
            </div>
            <div class="diMenu">
                <div id="ajaxMenuSearchWait"></div>
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About the Inventory", "Index", "AboutTheInventory")</li>
                    <li>@Html.ActionLink("How to Search", "Index", "HowToSearch")</li>
                    <li>@Html.ActionLink("Advanced Search", "Index", "Search")</li>
                    <li class="diItemLast">@Html.ActionLink("Inventory List", "Index", "InventoryList")</li>
                    <li class="diItemLast" style="float: right; padding-right: 10px;">
                        <button style="font-size: 3px;" class="btn" title="Search inventory" id="menuSearchBtn">
                            <span class="ui-icon ui-icon-search icon"></span>
                        </button>
                    </li>
                    <li class="diItemLast" style="color: #333; margin: 2px 2px 0 0; float: right;">
                        <label for="txtMenuSearchTerm">Search Inventory:</label>
                        <input class="diSearchBox" title="Search inventory" type="text" name="txtMenuSearchTerm" id="txtMenuSearchTerm" />
                    </li>
                </ul>
            </div>
        </div>
        @RenderBody()
    </div>

    <script src="~/lib/custom/js/jquery-1.7.1.js"></script>
    <script src="~/lib/custom/js/jquery-ui-1.10.3.custom.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>